  <h3><%= Spree.t(:service_fields) %></h3>
  <table class="index">
    <thead>
      <tr>
        <th><%= t("name") %></th>
        <th class="actions"><%= Spree.t("action") %></th>
      </tr>
    </thead>
    <tbody id="service_fields">
      <%= f.fields_for :service_fields do |sf| %>
      <tr class="service_field fields">
        <td>
          <%= sf.text_field :name, :class => 'fullwidth' %>
          <%= error_message_on(sf.object, :name) %>
        </td>
        <td class="actions">
          <%= link_to_remove_fields Spree.t("remove"), sf, no_text: true %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_fields Spree.t("add_service_field"), "tbody#service_fields", {class: 'button fa fa-plus'} %>
  <br/><br/>

